extends layout

block content
  h1 {{title}}
  div( ng-repeat="section in sections" )
    h3 {{section.name}}
    table( class="table table-condensed" )
      thead
        tr
          th( ng-repeat="label in section.labels" ) {{label}}
      tbody
        tr( ng-repeat="item in section.items" ng-class="{'danger': data[item.id].error}")
          td( ng-repeat="key in section.keys") {{data[item.id][key]}}
